<ion-header>
  <ion-toolbar color="hdGreen">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-title><h3 color="hdBrown">Add new doughnut</h3></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list text-center>
    <ion-item>
      <ion-select [(ngModel)]="newDonut.donutType" placeholder="Donut type" style="min-width: 100% !important;" [selectOptions]="tOptions">
        <ion-option *ngFor="let myType of donut.DONUT_TYPES">{{ myType }}</ion-option>
        <ion-option disabled value="addType">Add new type...</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select [(ngModel)]="newDonut.donutFlavor" placeholder="Donut flavor" style="min-width: 100% !important;" [selectOptions]="fOptions">
        <ion-option *ngFor="let myFlavor of donut.DONUT_FLAVORS">{{ myFlavor }}</ion-option>
        <ion-option disabled value="addFlavor">Add new flavor...</ion-option>
      </ion-select>
    </ion-item>

    <ion-item-divider color="hdBrown" *ngIf="newDonut.ingredients.length > 0">
      <p color="hdGreen">Ingredients:</p>
    </ion-item-divider>

      <ion-item *ngFor="let ingredient of newDonut.ingredients, let i = index">
        <ion-row>
          <ion-col width-50 text-left>
            <b color="hdBrown">{{ ingredient.item }}</b>
          </ion-col>
          <ion-col width-50 text-right>
            {{ ingredient.quantity }}<span *ngIf="ingredient.item !== ingredient.units">&nbsp;{{ ingredient.units }}</span>
            
          </ion-col>
        </ion-row>
        <button ion-fab mini item-right icon-only color="hdBrown" (click)="removeIngredient(i)"><ion-icon color="hdGreen" name="close"></ion-icon></button>
      </ion-item>
    
    <ion-item no-lines>
      <button ion-button padding color="hdBrown" (click)="addIngredient()"><p color="hdGreen">+ add ingredient</p></button>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-footer>
  <button ion-button icon-left large full block color="hdBrown" (click)="addToDonutList()"><ion-icon color="hdGreen" name="add-circle"></ion-icon><p color="hdGreen">Add Donut</p></button>
</ion-footer>
