<ion-header>
  <ion-toolbar color="hdGreen">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-title><h4 color="hdBrown">{{ pageTitle }}</h4></ion-title>
    <ion-buttons right>
      <ion-label></ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item no-lines>
      <ion-row>
        <ion-col width-50>
          <b>Estimated yield:</b>
        </ion-col>
        <ion-col width-50 text-right>
          {{ myYield }} dz
        </ion-col>
      </ion-row>
    </ion-item>


    <ion-item-group *ngFor="let ingType of myTypes">
      <ion-item-divider color="hdBrown">
        <h3>{{ ingType }}</h3>
      </ion-item-divider>

      <ion-item *ngFor="let ingredient of selectedDonut.ingredients, let i = index" [hidden]="ingredient.type != ingType">
        <ion-row>
          <ion-col width-50 text-left>
            <b color="hdBrown">{{ ingredient.item }}</b>
          </ion-col>
          <ion-col width-50 text-right>
            {{ myQuantity[i] }}<span *ngIf="ingredient.item !== ingredient.units">&nbsp;{{ ingredient.units }}</span>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>

  </ion-list>
</ion-content>
