<ion-header>
  <ion-navbar color="hdGreen">
    <ion-title><h3 color="hdBrown">Holey Moley</h3></ion-title>
  </ion-navbar>

  <ion-toolbar color="hdGreen" no-padding >
    <ion-row text-center *ngIf="isIos">
      <ion-col>
        <b no-padding color="hdBrown">Doughnut Recipes</b>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isMd" no-padding>
      <ion-col>
        <b padding-left color="hdBrown">Doughnut Recipes</b>
      </ion-col>
    </ion-row>

    <ion-row>
    <ion-col width-50>
      <button ion-button block full icon-only color="hdBrown" (click)="addNewDonut()"><ion-icon padding-right color="hdGreen" name="add-circle"></ion-icon></button>
    </ion-col>

    <ion-col width-50>
      <button ion-button block full icon-only color="hdBrown" (click)="changePassword()"><ion-icon padding-right color="hdGreen" name="key"></ion-icon></button>
    </ion-col>

  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list no-padding>

    <ion-item-group *ngFor="let item of donut.DONUT_LIST, let i = index">

      <ion-item-divider color="hdBrown">
        <h3 color="hdGreen">{{ item.donutType }}&nbsp;{{ item.donutFlavor }}</h3>
      </ion-item-divider>

        <ion-item no-padding style="width: 100% !important;">
          <ion-select placeholder="full" class="inline" [(ngModel)]="fullBatches[i]" [selectOptions]="fOptions">
            <ion-option *ngFor="let fullsize of donut.BATCH_FULL_SIZE">{{ fullsize }}</ion-option>
          </ion-select>

          <ion-select placeholder="partial" class="inline" [(ngModel)]="partialBatches[i]" [selectOptions]="pOptions">
            <ion-option *ngFor="let partialsize of donut.BATCH_PARTIAL_SIZE">{{ partialsize }}</ion-option>
          </ion-select>

            <button ion-fab item-right text-center mini outline color="clear" style="box-shadow: none;" (click)="editDonut(i)">
              <ion-icon color="hdBrown" name="create"></ion-icon>
            </button>
            <button ion-fab item-right text-center mini color="hdGreen" (click)="showRecipeModal(i)">
              <ion-icon color="hdBrown" name="calculator"></ion-icon>
            </button>
            <button ion-fab item-right text-center mini color="hdBrown" (click)="resetBatch(i)">
              <ion-icon color="hdGreen" name="close"></ion-icon>
            </button>

        </ion-item>

      </ion-item-group>
  </ion-list>
</ion-content>
